body{
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 40px;
    display: inline-block;
}

.bg-orange{
    background-color: #F45c04;
}

.txt-orange {
    color: #F45c04;
}

.txt-uppercase {
    text-transform: uppercase;
}
